# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Builds
dist/
build/
.tsbuildinfo

# MacOS
.DS_Store

# Env
.env
.env.*

# IDE
.idea/
.vscode/
*.swp


